body {
  background-color: gray;
  font-family: 'Consolas', sans-serif;
  font-size: 8px;
  color: white;
  margin: 15px;
  max-size: 500px;
}

h1 {
  margin: 0 0 0 0;
}

#ui {
  width: 100%;
}

#name {
  width: 100%;
}

#initiative {
  width: 100%;
}

.mainInput {
  background-color: gray;
  color: white;
  font-family: 'Consolas' sans-serif;
  font-size: 12px;
  border-color: black;
}

*:focus {
    outline: none;
}

.textWindow {
  background-color: black;
  color: white;
  font-family: 'Consolas' sans-serif;
  font-size: 12px;
}
