html {
  background-color: #85BBFF;
}

body {
  background-color: gray;
  font-family: consolas, monospace;
  font-size: 8px;
  color: white;
  
  padding: 10px;
  
  width: 80%;
  min-width: 400px;
  margin: 0 auto;
}

h1 {
  margin: 0 0 0 0;
}

#ui {
  background-color: #595959;
  width: 100%;
  border-spacing: 0;
}

.selectedRow {
  background-color: green;
}

.notSelectedRow {
  
}

#name {
  width: 100%;
}

#initiative {
  width: 100%;
}

#hp {
  width: 100%;
}

.mainInput {
  background-color: black;
  color: white;
  font-family: consolas, monospace;
  font-size: 12px;
  border-color: black;
  
  overflow: visible;
  
  border: 0px;
  margin: 1px 0 0 3px;
  padding: 0;
  
  min-width: 300px;
}

*:focus {
    outline: none;
}

#textRows {
  background-color: black;
  color: orange;
  font-family: consolas, monospace;
  font-size: 12px;
  /*
  max-width: 100%;
  */
  min-width: 100%;
  /*
  max-height: 300px;
  overflow: auto;
  */
}

#inputArea {
  background-color: black;
  color: white;
  font-family: consolas, monospace;
  font-size: 12px;
  border-color: black;
  
  border: 0px;
  margin: 1px 0 0 3px;
  padding: 0;
  
  overflow: hidden;
  
  resize: none;
  max-width: 98%;
  min-width: 98%;
  min-height: 12px;
}

#oldInputArea {
  background-color: black;
  color: gray;
  font-family: consolas, monospace;
  font-size: 12px;
  border-color: black;
  
  border: 0px;
  margin: 1px 0 0 3px;
  padding: 0;
  
  overflow: hidden;
  
  resize: none;
  max-width: 98%;
  min-width: 98%;
  min-height: 12px;
}

#outputArea {
  background-color: black;
  color: yellow;
  font-family: consolas, monospace;
  font-size: 12px;
  border-color: black;
  
  border: 0px;
  margin: 1px 0 0 3px;
  padding: 0;
  
  overflow: hidden;
  
  resize: none;
  max-width: 98%;
  min-width: 98%;
  min-height: 12px;
}

.inputRow {
  color: #FF0000;
  
  border: 0px;
  margin: 1px 0 0 3px;
  padding: 0;
}

.soutRow {
  color: #00FFFF;
  
  border: 0px;
  margin: 1px 0 0 3px;
  padding: 0;
}

.textRow {
  color: white;
  
  border: 0px;
  margin: 1px 0 0 3px;
  padding: 0;
}

#fontSizeTest {
  color: black;
  background-color: gray;
  font-family: consolas, monospace;
  font-size: 12px;
  
  border: 0;
  margin: 0 0 0 0;
  padding: 0;
  
  float: center;
  bottom: 0;
}

#textField {
  background-color: black;
  border-color: black;
  
  border: 0px;
  margin: 0px 0 0 0px;
  padding: 0;
  
  overflow: auto;
  height: 300px;
  /*
  max-height: 300px;
  */
}
