html {
  background-color: #85BBFF;
}

body {
  background-color: gray;
  font-family: 'Consolas', monospace;
  font-size: 8px;
  color: white;
  
  padding: 10px;
  
  width: 400px;
  margin: 0 auto;
}

h1 {
  margin: 0 0 0 0;
}

#ui {
  background-color: #595959;
  width: 100%;
  border-spacing: 0;
}

.selectedRow {
  background-color: green;
}

.notSelectedRow {
  
}

#name {
  width: 100%;
}

#initiative {
  width: 100%;
}

#hp {
  width: 100%;
}

.mainInput {
  background-color: black;
  color: white;
  font-family: 'Consolas', monospace;
  font-size: 12px;
  border-color: black;
  
  overflow: visible;
  
  border: 0px;
  margin: 1px 0 0 3px;
  padding: 0;
  
  min-width: 300px;
}

*:focus {
    outline: none;
}

.textRows {
  background-color: black;
  color: orange;
  font-family: 'Consolas', monospace;
  font-size: 12px;
  max-width: 400px;
  max-height: 300px;
  width: 300px;
  overflow: auto;
}

#textarea {
  background-color: black;
  color: orange;
  font-family: 'Consolas', monospace;
  font-size: 12px;
  border-color: black;
  
  border: 0px;
  margin: 1px 0 0 3px;
  padding: 0;
  
  overflow: hidden;
  
  resize: none;
  max-width: 98%;
  min-width: 98%;
  max-height 24px;
  min-height: 24px;
  
}

#textField {
  background-color: black;
  border-color: black;
  
  border: 0px;
  margin: 0px 0 0 0px;
  padding: 0;
  
  overflow: auto;
  height: 300px;
  max-height: 300px;
  
}
